<h1><%= @round.hospital.name%> <%=@round.date %> <%= @round.number.ordinalize+' visit' %> (<%= @round.id %>)</h1>
<%= link_to 'New visit on same day', return_round_path(@round) %><p>
<%= link_to 'Previous', rounds_path(:date=>@round.date-1.day,:round_id=>@round.previous,:hospital_id=>@round.hospital_id) %>
Number -----<%= @round.number%>
Hospital -----<%= @round.hospital_id%>
Date -----<%= @round.date%>
Number-----<%= @round.number%>
Visits -----<%= @round.visits%>



	<% if @round.hospital.showtime %>
								<a href="#" onclick="$('#claim-<%=@round.hospital.id%>').toggle('slow');return false;" style="text-decoration: none">Time</a>
								<% end %>
								<%= render :partial => "claim", :object => @claims[patient.ward.hospital.id] if @round.hospital.showtime%>


<% @patients.each do |patient| %>
<table>
  <tr>
		<td>

			<%= check_box_tag @round.id,patient.id,patient.visited?(@round.id),:class => 'patient-visit' %>

			</td>
    <td>
	<span <%= "style='font-weight: bold'" if patient.under==1%>><%= link_to patient.name,patient_path(patient,:round_id=>@round.id) %> </span></td>
    <td>
	<%= collection_select("ward",:id, @wards[@round.hospital_id], :id, :name, {:selected => patient.ward.id}, {:class=>'ward-select',:name=>patient.id}) %>
	</td>

    <td><%= patient.admission %></td>
    <td id='discharge-<%=patient.id %>'><%= patient.discharge %></td>
		<td id='discharge-command-<%=patient.id %>'>
		<% if patient.discharge %>
		<%= link_to 'Decrement', decrement_patient_path(patient),:method=>:post,:remote=>true %>
		<% else %>
		<%= link_to 'Discharge', discharge_patient_path(patient,:round_id=>@round.id),:method=>:post,:remote=>true %>
		<% end %>
		</td>

  </tr>
<% end %>
</table>


<br />

<%= link_to 'New Patient', new_patient_path(:hospital_id=>@round.hospital_id) %>
<%= link_to 'Show All Hospital', rounds_path if Hospital.count>1 %>
