<div data-role="page" data-theme="b" id='newpatient'  > 
     <div data-role="header">
     <%= link_to 'Back', :back,'data-transition'=>'slide','data-icon'=>'back','data-direction'=>'reverse' %>
     		<%=link_to 'Home',rounds_path, 'data-transition'=> 'slide','data-icon'=>"home","data-iconpos"=>"notext",'data-direction'=>'reverse'%>
     		
					<h1>Charge Report for <%= @patient.name %> </h1>
     </div>
<b><%= @patient.name %></b><p>
Hospital <%= @patient.ward.hospital.name %><br>
Admitted <%= @patient.admission %><br>
Discharged <%= @patient.discharge %><br>
Status <%= @patient.status_text %><br>
<%= link_to 'Edit',patient_path(:return=>"report") %>
<style>
#tablereport {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    
    border-collapse: collapse;
}

#tablereport td, #tablereport th {
    font-size: 1em;
    border: 1px solid #000000;
    padding: 3px 7px 2px 7px;
}

#tablereport th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #5e87b0;
    color: #ffffff;
}

#tablereport tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}
</style>

<table data-role="table" id="tablereport">

<thead>
<th>Date</th>
<th>Doctor</th>
<th>Item</th>
<th>Note</th>
</thead>


<tbody>
<% @visits.each do |visit| %>
<tr>
<td><%= visit.date %></td>	
<td><%= visit.doctor %></td>
<td><%= visit.item_text %></td>
<td><%= visit.chargenote %></td>
</tr>
<% end %>
</tbody>
</table>

</div>