<div data-role="page" data-theme="b" id='newpatient'  > 
     <div data-role="header">
     <%= link_to 'Back', :back,'data-transition'=>'slide','data-icon'=>'back','data-direction'=>'reverse' %>
     		<%=link_to 'Home',rounds_path, 'data-transition'=> 'slide','data-icon'=>"home","data-iconpos"=>"notext",'data-direction'=>'reverse'%>

					<h1>Charge Report for <%= @patient.name %> </h1>
     </div>
<b><%= @patient.name %></b><p>
Hospital <%= @patient.ward.hospital.name %><br>
Admitted <%= @patient.admission %><br>
Discharged <%= @patient.discharge %><br>

<style>
th {
    border-bottom: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    align: left;
}

tr:nth-child(even) {
    background: #e9e9e9;
}
<style>
#tablereport {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#tablereport td, #tablereport th {
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

#tablereport th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

#tablereport tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}
</style>
</style>

<table data-role="table" class="tablereport">

<thead>
<th>Date</th>
<th>Doctor</th>
<th>Item</th>
<th>Note</th>
</thead>


<tbody>
<% @visits.each do |visit| %>
<tr>
<td><%= visit.date %></td>	
<td><%= visit.doctor %></td>
<td><%= visit.item %></td>
<td><%= visit.chargenote %></td>
</tr>
<% end %>
</tbody>
</table>

</div>