<%=@theDate.strftime("%B")+", "+@theDate.strftime("%Y")%>

<p>
<%= link_to " < "+(@theDate-1.month).strftime("%B"), hospitals_path(:month=>(@theDate-1.month).month,:year=>(@theDate-1.month).year) %>  <%= link_to (@theDate+1.month).strftime("%B")+" > ", hospitals_path(:month=>(@theDate+1.month).month,:year=>(@theDate+1.month).year) %>
<p>

	<table border=1>
	<%= render(:partial => "hospital",:collection=> @hospitals, :locals=>{theDate: @theDate,startDate: @startDate, periodSpan: @periodSpan, endDate: @endDate})%>
	</table>



<%= link_to 'New Hospital', new_hospital_path %>