<div data-role="page" data-theme="a" > 
	<div data-role="header">

<h1>
<%= link_to "Home",rounds_path(),"data-role"=>"button","data-icon"=>"home","data-inline"=>"true","data-iconpos"=>"notext","data-theme"=>"b","data-ajax"=>"false"%>
<%= link_to "Prev", hospitals_path(:theDate=>@prevDate),"data-role"=>"button","data-icon"=>"arrow-l","data-inline"=>"true","data-iconpos"=>"notext","data-theme"=>"b","data-ajax"=>"false" %><%=@theDate.strftime("%B")+", "+@theDate.strftime("%Y")%><%= link_to "Next", hospitals_path(:theDate=>@nextDate),"data-role"=>"button","data-icon"=>"arrow-r","data-inline"=>"true","data-iconpos"=>"notext","data-theme"=>"b","data-ajax"=>"false"  %></h1>
    </div>
<p>


<div data-role="content"> 
<table border=1>
<%= render(:partial => "hospital",:collection=> @hospitals, :locals=>{theDate: @theDate,startDate: @startDate, periodSpan: @periodSpan, endDate: @endDate})%>
</table>
</div>




<div data-role="footer" data-position="fixed">
 <h4>WardRoundApp by LemLink</h4>
</div>
</div>