<!-- views/devise/sessions/new.mobile.erb --> 
<% @title = 'Sign In' %> 
<div data-role="page" data-theme="b" style='max-width: 600px;'> 
	<div data-role="header">
<h1>Ward Round - Sign In</h1>
</div>
<div data-role="content"> 
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html=>{'data-ajax'=>'false'}) do |f| %> 
<p><%= f.label :email %><br /> 
<%= f.text_field :email %></p> 
<p><%= f.label :password %><br /> 
<%= f.password_field :password %></p> 
<% if devise_mapping.rememberable? -%> 
<p><%= f.check_box :remember_me,"data-theme"=>"a" %> 
<%= f.label :remember_me,"data-theme"=>"a" %></p> 
<% end -%> 
<p><%= f.submit "Sign in","data-theme"=>"b" %></p> 
<% end %> 
</div>
</div>