Month is <%= @month %> and Year is <%= @year %>
<table border=1>
	<tr>
		<td>Patient</td>
		<td>Admitted</td>
		<td>Discharged</td>
		<% for i in 1..Time.days_in_month(@month.to_i, @year.to_i) %>
			<td><%= i %></td>
		<% end %>
	</tr>
<% @patients.each do |patient| %>
<tr>
<td><%= patient.name %></td>
<td><%= patient.admission %></td>
<td><%= patient.discharge %></td>

</tr>
<% end %>
</table>


