<!DOCTYPE html>
<html>
<head>
  <title>Wardround</title>
	 <%= stylesheet_link_tag    "application", :media => "all" %>
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css" />
		<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>  
		<script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/1.2.0/jqm-datebox-1.2.0.core.min.js"></script>
		<script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/1.2.0/jqm-datebox-1.2.0.mode.calbox.min.js"></script>
		<script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/i18n/jquery.mobile.datebox.i18n.en_US.utf8.js"></script>
		<link rel="stylesheet" type="text/css" href="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.min.css" /> 

	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	<script>
	$("form").submit( function () {
	  alert( "Form submitted" );
	});
	</script>


<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<%= flash[:notice] %>
	<%= flash[:alert]  %>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
<%= yield %>


</body>
</html>
